.navbar_item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  color: rgba($color: #000000, $alpha: 0.7);
  padding: 10px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    color: rgba($color: #000000, $alpha: 1);
  }
}
.icon {
  font-size: 16px;
  color: #cb8b0c;
  position: relative;
  margin-top: -2px;
}

.profile_dropdown {
  color: rgba($color: #000000, $alpha: 0.7);
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 10px;
  font-weight: 600;
  &:hover {
    color: rgba($color: #000000, $alpha: 1);
  }
}
