.addressRow {
  display: flex;
  gap: 20px;
  h4 {
    font-size: 15px;
    font-weight: 600;
    max-width: 60px;
    width: 100%;
    margin-bottom: 0;
  }
}
.editBtn {
  display: inline-block;
  margin-top: 15px;
}
.order_summary_row {
  display: flex;
  margin-bottom: 5px;
  padding-bottom: 5px;
  &:not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
  }
  span {
    width: 60%;
    &:nth-last-of-type(1) {
      width: 40%;
      font-weight: 600;
    }
  }
}
.info {
  padding: 10px;
  background: #f1c0c0;
  margin: 10px 0;
  border-radius: 5px;
}
