.login_register_form {
  flex: 0 0 100%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
  background: #f6f6f6;
  .login-form-button {
    width: 100%;
  }
  h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
  }
}
.login_register_container {
  padding: 6rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
